ALLOWED_HOSTS=chagehost
DJANGO_SUPERUSER_USERNAME=changeuser
DJANGO_SUPERUSER_PASSWORD=changepassword
VITE_API_URL=changebackendapi

CLOUD_NAME=changecloudname
CLOUD_API_KEY=changecloudapikey
CLOUD_API_SECRET=cloudapisecrete
