ALLOWED_HOSTS=chagehost
DJANGO_SUPERUSER_USERNAME=changeuser
DJANGO_SUPERUSER_PASSWORD=changepassword
VITE_API_URL=changebackendapi

POSTGRES_DB=db
POSTGRES_PASSWORD=password
POSTGRES_USER=user
HOST=db
PORT=5432


CLOUD_NAME=changecloudname
CLOUD_API_KEY=changecloudapikey
CLOUD_API_SECRET=cloudapisecrete
